#slider_container{
}
#landing{
    padding-bottom: 5%;
}
.carousel-indicators{
    display: none;
}
#landing_products{
    & h2{
        padding:1rem;
        color:black;
    }
}
.subtitle{
    font-family: Inter;
    font-weight: bold;
    text-align: center;
    color:#00352F;
}
@media (min-width: 600px) {
    #slider_container{
        padding: 0 15%;
        height: 400px;


    }

    & .carousel-item{


        & .image_slider_portade{

            
            width:auto !important;
        }
    }
    
}   
#slider_container{
    height: 400px;

    & .carousel-item{
        height:400px;
        display: flex;
        justify-content: center;

        & .image_slider_portade{
            display: flex;
            height:100%;
            width:100%;
        }
    }

   
}

