.product_card{
    font-family: Inter;
    width:200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;


    &:hover{
        box-shadow:rgba(0, 0, 0, 0.45) 0px 5px 15px;
    }


    & .image_container{
        width:100%;
        display: flex;
        background-color: #399240;
        justify-content: center;
        & img{

            width:100%;
            height:200px;
            
        }
    }

    & .info{
        padding:1rem .5rem;
        text-align: center;
        color: black;
        background-color: white;
        & .title{
            width:100%;
            font-weight: normal;
            white-space: unset;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .price{ font-size: 1.2rem; } } }
@media (max-width: 599px) {
    .product_card{
        width:48%;
    }
}
@media (max-width: 300px) {
    .product_card{
        width:100%;
    }
}

@media (min-width: 600px) {
   

    .product_card{
        
        width:300px;
        margin:.5rem;
        
        & .image_container{
        
            & img{
    
                height:300px;
                
            }
        }

        & .info{
            
            
    
            & .title{
               
                white-space:unset;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }

  }