#menu_wrapper{
    position: sticky;
    top:0;
    z-index: 999999;

}

.menu_window{
    position: absolute;
    left: 0;
    height:100vh;
    width:40vw;
    background-color: #04554E;
    color:#FFFFFF;
    opacity: 100%;
    transition: 2s;

    & .closeContaner{
        padding: .5rem;

        & svg{
            height:40px;
            width:40px;
        }
    }

    & .searcher_container{
        display:flex;
        justify-content: center;
        padding:.5rem;

        & input{
            all:unset;
            width:100%;
            background-color: #FFFFFF;
            padding:.5rem;
            border-radius: 15px;
            color:black;
        }
    }

    & .categoria_list{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        & .categoria{
            padding:.5rem 1rem;
            border-top: 1px solid whitesmoke;
            cursor: pointer;

            &:last-child{
                border-bottom:1px solid whitesmoke;
            }
        }
        & h4{
            padding: .5rem 1rem;
        }
    }
}
@media (max-width: 600px) {
    .menu_window{
        width:80vw;
        font-size: 20px;

        


    }
}