header{
    position: static;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding:.5rem;
    height:50px;
    align-items: center;
    background-color: #00352F;

    & svg{
        height:25px;
        width:25px;
    }

    & #logo{
        color:white;
    }
}

@media (min-width: 600px) {
    header{
        height:80px;

        & svg{
            height:40px;
            width:40px;
        }

        & #logo{
            
            font-size: 30px;
        }
    }
    
}