header{
    display:flex;
    justify-content: space-between;
    padding:.5rem;
    height:50px;
    align-items: center;
    background-color: #00352F;

    & svg{
        height:25px;
        width:25px;
    }

    & #logo{
        color:white;
    }
}