#producto{
    & img{
        cursor: pointer;
    }

    & .image_container{
        width:100%;
        
        display: flex;
        justify-content: center;
        & img{
            display: flex;
           height: 100%;
           max-width: 100vw;
        }
    }

    & .secondary_photos{
        width:100%;
        height:125px;
        display: flex;
        overflow-x: scroll;

        & img{
            height:100%;
        }
    }

    & .info{
        padding:1rem;
        position: relative;

        & .info__nostock{
            position: absolute;
            padding:.5rem 1rem;
            border-radius: 15px;
            background-color: rgb(252, 84, 84);
            font-size: 25px;
            right: 1rem;
            top:-30px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            color:aliceblue;

        }

        & .title{
            font-size: 2.3rem;
            font-weight: bold;
        }
        
        & .price{
            font-size: 1.5rem;
            font-weight: bold;
            color: #04554E;
        }
    }

    & .controls{
        display: flex;
        justify-content: space-between;
        gap :1rem;
        padding:.5rem;

        & button{
            all:unset;
            display: flex;
            width:60%;
            padding:1rem;
            background-color: #04554E;
            color:white;
            font-weight: bold;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            cursor: pointer;

            &.disabled{
                background-color: #04554e50;

                &:hover{
                    opacity: 1;
                }

            }

            &:hover{
                opacity: 0.8;
            
            }
        }
    }

    & .description{
        text-overflow: clip;
        overflow: hidden;
    }
}

@media (max-width: 599px) {
    #producto{
        margin-bottom: 80px;
        & .image_container{
            height: 450px;

        }

        & .controls{
            position: fixed;
            bottom: 0;
            left:0;
            width:100%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            background-color: #ebfef7 !important;

           
        }

    }



}

@media (min-width: 600px) {
    #producto{
        display:flex;
        justify-content: center;
        padding:50px 15%;
       
        & .images{
            display: flex;
            flex-direction: column;
            width:45%;
            height: fit-content;
            background-color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            & .image_container{
                width:100%;
                & img{
                    display: flex;
                    width: 100%;
                }
    
            }

            & .secondary_photos{
                height:175px;
                
                & img{
                  
                }
            }



        }

        & .info{
            padding:5%;
            
            & .title{
                font-size: 60px;
            }
            
            & .price{

                font-size: 2rem;
              
            }
            & .description,.controls{
                max-width: 700px;
            }
           
        }


    }



}