#categoria{
    & h1{
        text-align: center;
        padding:1rem;
    }
    & .controls{
        padding:1rem;
        padding-top: 0;
        display:flex;
        flex-direction: column;
        gap:.5rem;
       
        
    }
}

